@import "variables";

header {
   background: linear-gradient(
   rgba(4, 94, 184, 0.70),
   rgba(4, 94, 184, 0.70)
   ), url("./images/wave1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
}

  .blog {
      font-family: $font-stack1;
      color: $darkblue;
      display: inline;
      text-align: left;
      padding-left: 300px;

      img {
          opacity: 0.5;
      }
  }

  .aboutsearch {
      font-family: $font-stack1;
      float: right;
      padding-right: 300px;

      a {
          text-decoration: none;
          color: $darkblue;

          &:hover {
              color: $darkblue;

               img {
                  height:20px;
                  width:20px;
                  padding-left: 5px;
                  color: $darkblue;
              }
          }
      }
  }

  .header {
      font-family: $font-stack1;
      color:white;
      text-align: center;
      font-size: 100px;
      padding-left: 30px;
      padding-top:8px;

  }
  .ironyard {
      font-family: $font-stack2;
      color: $darkblue;
      font-size: 12px;
      text-align: center;
      height-line: 15px;
  }



.wrapper {
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;

    .section {
        width:60%;
        float:left;
        padding: 0%;
        margin-top:2%;

    .fantastic {
        font-family: $font-stack1;
        color: $darkblue;
        font-size: 45px;
        line-height: 40px;
    }

    .annewrite ul {
        margin: 0;
        padding: 0%;


          li {
            font-family: $font-stack2;
            font-size: 10px;
            display: inline-block;


             &:nth-child(4) {
                color: grey;


                 a  {
                    text-decoration: none;
                    color:#3366CC;
            }
         }
                 }

    .annesmall {
        Background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/anne.jpg");
        background-size: cover;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display:block;
        margin-left: auto;
        margin-right:auto;
    }

    }

    p {
        color: $color-gray;
        font-family: $font-stack2;
        font-size: 12px;
        line-height: 20px;
    }


    .woah {
        font-family: $font-stack2;
        color: $lightblue;
        font-size: 25px;
        text-indent: 20px;
        border-left: solid 2px;
    }

    button {
        padding-left:2%;
        margin: 5px;
        background:$color-gray;

        &:hover {
            background: #0066CC;

            button img {
                height:5%;
                width: 5%;
            }
        }
    }
}

    .sidebar {
        float:right;
        padding:0%;
        margin-top: 2%;
        width: 250px;


    .anne  {
        Background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/anne.jpg");
        background-size: cover;
        @include border-radius(50%);
        width: 50px;
        height: 50px;
        display:block;
        margin-left: auto;
        margin-right:auto;

    }

    h5 {
        font-family: $font-stack1;
        text-align:center;
    }

    .social ul  {
        text-decoration:none;
        text-align: center;
        word-spacing: 10px;
        padding-right: 15%;

        li  {
            font-family: $font-stack1;
            display: inline-block;
            color: $color-gray;
            font-size: 10px;

             a {
                text-decoration: none;
                color: $color-gray;
            }
        }
    }

    .paddleboard {
        Background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/paddleboard.jpg");
        background-size: cover;
        width: 200px;
        height: 200px;
        display:block;
        margin-left: auto;
        margin-right:auto;
    }

    .AD {
        font-family: $font-stack1;
        float: right;
        text-decoration: none;
        font-size: 10px;
        padding-right: 26px;
        color: $color-gray;
    }

    .sidehead {
        font-family: $font-stack1;
        color: $lightblue;
        font-size: 15px;
        display: block;
        padding-top: 30px;
    }
    p {
        color: $color-gray;
        font-family: $font-stack2;
        font-size: 12px;
        line-height: 20px;
    }
}
}


footer {
    clear:both;
    padding-top: 30px;

    h1 {
        font-family: $font-stack1;
        color: $darkblue;
        text-align: center;
        font-size: 50px;
        border-top: solid 1px $color-gray;
        }

    .posts a {
        margin:0;
        display:inline-block;
        width:25%;
        padding-bottom: 25%;
        background-size: cover !important;
        color: #233354;
        text-decoration: none;
        font-size: 20px;
        font-family: $font-stack1;
        position: relative;


        &:hover {
            color:white;

        }
    }
    .post1 {
        background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/paddleboardman.jpg");

        &:hover {
            background: linear-gradient(
            rgba(4, 94, 184, 0.0),
            rgba(4, 94, 184, 0.0)
            ), url("./images/paddleboardman.jpg");
        }
    }

    .post2 {
        background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/beer.jpg");

        &:hover {
            background: linear-gradient(
            rgba(4, 94, 184, 0.0),
            rgba(4, 94, 184, 0.0)
            ), url("./images/beer.jpg");
        }
    }
    .post3 {
        background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/beard.png");

        &:hover {
            background: linear-gradient(
            rgba(4, 94, 184, 0.0),
            rgba(4, 94, 184, 0.0)
            ), url("./images/beard.png");
        }
    }

    .post4 {
        background: linear-gradient(
        rgba(4, 94, 184, 0.70),
        rgba(4, 94, 184, 0.70)
        ), url("./images/images2.jpg");

        &:hover {
            background: linear-gradient(
            rgba(4, 94, 184, 0.0),
            rgba(4, 94, 184, 0.0)
            ), url("./images/images2.jpg");
        }
    }

    .post {
        position:absolute;
        bottom: 0;

    }

    .navs {
        font-family: 'Arimo', sans-serif;
        @include background-color(#002245);
        width: 100%;
        height: 80px;
        float:left;
        margin:0;
        padding:0;
        display: inline;
    }

    .copy {
        color: #ABC8C5;
        display: inline-block;
        font-size: 10px;
        vertical-align: middle;

        img {
            height: 75px;
            width: 75px;
        }
    }

    .nav {
        float: right;

        a {
            @include display(inline-block);
            color: #abc8c5;
            padding:30;
            text-decoration: none;
            font-size: 10px;
            float: right;
            vertical-align: middle;

         }
    }
}
